<template lang="">
    <div class="">
        <div data-v-2dc61a22="" data-v-6e0b61f6="" class="list-prj-grid">
            <div data-v-2dc61a22="" class="list-prj-grid">
                <strong data-v-2dc61a22="" class="sub-title">All Projects</strong> 
                    <hr data-v-2dc61a22="" class="mt-1">
                    <div data-v-2dc61a22="" class="row justify-content-left" style="width: 100%; padding-left: 50px;">
                            <div v-for="pro in projects" data-v-2dc61a22="" class="col-md-3 col-sm-4 col-lg-2 mb-5 gui-sm my-column" style="">
                                <div data-v-2dc61a22="" class="md-card md-theme-default md-with-hover">
                                    <a data-v-2dc61a22="">
                                        <div data-v-2dc61a22="" class="md-ripple" >
                                            <div data-v-2dc61a22="" class="md-card-header card-header">
                                                <div style="position: relative;" data-v-2dc61a22="" class="card-header__title">
                                                    <div data-v-2dc61a22="" class="prj-name" style="height: 30px;">
                                                        <p style="text-overflow: ellipsis;">{{pro.projectName}}</p>
                                                    </div>
                                                    <button v-on:click="copyCard(pro)" style="position: absolute; left: 88%; top: -11%;" data-v-2dc61a22="" type="button" class="md-button p-1 m-0 md-icon-button md-primary md-dense md-theme-default">
                                                        <div class="md-ripple">
                                                            <div class="md-button-content" >
                                                                <svg style="width: 15px; margin-top: -5px;" data-v-2dc61a22="" class="svg-inline--fa fa-copy fa-w-14 fa-lg" aria-hidden="true" focusable="false" data-prefix="far" data-icon="copy" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                                                                    <path fill="currentColor" d="M433.941 65.941l-51.882-51.882A48 48 0 0 0 348.118 0H176c-26.51 0-48 21.49-48 48v48H48c-26.51 0-48 21.49-48 48v320c0 26.51 21.49 48 48 48h224c26.51 0 48-21.49 48-48v-48h80c26.51 0 48-21.49 48-48V99.882a48 48 0 0 0-14.059-33.941zM266 464H54a6 6 0 0 1-6-6V150a6 6 0 0 1 6-6h74v224c0 26.51 21.49 48 48 48h96v42a6 6 0 0 1-6 6zm128-96H182a6 6 0 0 1-6-6V54a6 6 0 0 1 6-6h106v88c0 13.255 10.745 24 24 24h88v202a6 6 0 0 1-6 6zm6-256h-64V48h9.632c1.591 0 3.117.632 4.243 1.757l48.368 48.368a6 6 0 0 1 1.757 4.243V112z"></path>
                                                                </svg>
                                                                <i data-v-2dc61a22="" class="far fa-copy fa-lg"></i>
                                                            </div>
                                                        </div>
                                                    </button>
                                                </div>
                                                <div data-v-2dc61a22="" class="card-header__subhead">
                                                    <span data-v-2dc61a22="">
                                                        {{pro.code}}
                                                    </span>
                                                </div>
                                            </div>
                                            <div data-v-2dc61a22="" class="md-card-content card-body ellipsis-text">
                                                {{pro.projectDescription}}
                                            </div>
                                        </div>
                                    </a>
                                    <div data-v-2dc61a22="" class="md-card-actions md-alignment-right">
                                        <button v-on:click="deleteCard(pro.code)" data-v-2dc61a22="" type="button" class="md-button md-dense md-theme-default">
                                            <div class="md-ripple">
                                                <div class="md-button-content">
                                                    Delete
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</template>
<script>
export default {
    name: "cards",
    props:{
        projects: Array
    },
    data(){
        return {
            arr: [1,2,3,4],
            code: Math.random().toString(36).substr(2, 10),
        }
    },
    methods: {
        deleteCard(code){
            this.$emit('deleteCard', code);
        },
        copyCard(pro){
            this.$emit('copyCard', pro);
        }
    }
}
</script>
<style lang="css">
    .md-ripple {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 5;
        overflow: hidden;
        /* -webkit-mask-image: radial-gradient(circle,#fff 100%,#000 0); */
    }
    .card-header {
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        background-color: rgba(0, 0, 0, 0.03);
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }
</style>