<template lang="">
    <div>
        <footer class="d-flex flex-column" style="margin-top: 50px;">
            <img src="../assets/insight-tec.png" alt="app_icon" style="object-fit: contain; width: auto; height: 80px; box-sizing: border-box;">
            <span class="logo-text">Copyright © 2020 Insight Technology Inc.</span>
        </footer>
    </div>
</template>
<script>
export default {
    name: 'footer',
}
</script>
<style lang="css">
    img {
        vertical-align: middle;
    }
    .logo-text {
        color: rgba(0,0,0,.5);
        font-style: oblique;
        text-align: center;
    }
</style>