<template lang="">
    <div>
        <header data-v-2a5ef3b3="" class="page-navbar navbar navbar-expand-md sticky-top">
            <a data-v-2a5ef3b3="" class="brand navbar-brand clickable">
                <img data-v-2a5ef3b3="" src="../assets/masking_icon.png" alt="app_icon" width="30" height="30" class="brand-icon d-inline-block align-top"> 
                <img data-v-2a5ef3b3="" src="../assets/masking_title.png" alt="app_icon" width="300" height="30" class="brand-name-logo d-inline-block align-top">
            </a> 
            <button data-v-2a5ef3b3="" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation" class="navbar-light navbar-toggler">
                <span data-v-2a5ef3b3="" class="navbar-toggler-icon"></span>
            </button> 
            <div data-v-2a5ef3b3="" id="navbarMenu" class="menu collapse navbar-collapse">
                <ul data-v-2a5ef3b3="" class="navbar-nav ml-auto">
                    <li data-v-2a5ef3b3="" class="nav-item  ml-2">
                        <button v-if="logInUser == true" type="button" class="btn btn-light">{{titleProjects}}</button>
                    </li> 
                    <li data-v-2a5ef3b3="" class="nav-item ml-2">
                        <button v-if="logInUser == true" type="button" class="btn btn-light butInNav">{{titleTemplates}}</button>
                    </li>
                    <li data-v-2a5ef3b3="" class="nav-item ml-2">
                        <button v-if="logInUser == true" v-on:click="logOutfunc()" type="button" class="btn btn-light butInNav">{{titleLogOut}}</button>
                    </li>
                    <li data-v-2a5ef3b3="" class="nav-item ml-2">
                        <button v-if="logInUser == false" v-on:click="showLoginOrRegister(logIn)" type="button" class="btn btn-light butInNav">{{titleLogin}}</button>
                    </li>
                    <li data-v-2a5ef3b3="" class="nav-item ml-2">
                        <button v-if="logInUser == false" v-on:click="showLoginOrRegister(register)" type="button" class="btn btn-light butInNav">{{titleRegister}}</button>
                    </li>
                    <li data-v-87e5d018="" data-v-2a5ef3b3="" class="dropdown nav-item ml-2">
                        <div class="btn-group">
                            <button type="button" class="btn btn-light dropdown-toggle butInNav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{titleLanguage}}
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <button v-on:click="changeLanguage('en')" class="btn btn-light dropdown-item" type="button">English</button>
                                <button v-on:click="changeLanguage('vn')" class="btn btn-light dropdown-item" type="button">Tiếng Việt</button>
                            </div>
                        </div>  
                    </li>
                </ul>
            </div>
            <div data-v-2a5ef3b3="" class="loading-bar">
                <div class="md-progress-bar md-indeterminate md-theme-default" style="display: none;">
                    <div class="md-progress-bar-track"></div>
                    <div class="md-progress-bar-fill"></div>
                    <div class="md-progress-bar-buffer"></div>
                </div>
            </div>
        </header>

    </div>    
</template>
<script>

export default {
    name: 'home-header',
    data () {
        return {
        logIn: "logIn",
        logOut: "logOut",
        register: "register",
        titleProjects: "Projects",
        titleTemplates: "Templates",
        titleLogin: "Login",
        titleRegister: "Register",
        titleLanguage: "Language",
        titleLogOut: 'Log Out'
        }
    },
    props: {
        logInUser: Boolean
    },
    components: {
        
    },
    methods: {
        showLoginOrRegister(param){
            this.$emit('handleShowLoginOrRegister', param);
        },
        changeLanguage(lg){
            if(lg == 'en'){
                this.titleProjects = "Projects";
                this.titleTemplates= "Templates",
                this.titleLogin= "Login",
                this.titleRegister= "Register",
                this.titleLanguage= "Language",
                this.titleLogOut = 'Log Out'
            }else if(lg == 'vn'){
                this.titleProjects = "Dự án";
                this.titleTemplates= "Mẫu",
                this.titleLogin= "Đăng Nhập",
                this.titleRegister= "Đăng Ký",
                this.titleLanguage= "Ngôn Ngữ",
                this.titleLogOut = 'Đăng Xuất'
            }
        },
        logOutfunc(){
            this.$emit('logOut');
        }
    }
}
</script>
<style lang="css">
    .clickable{
        cursor: pointer;
    }
    .btn-light {
    color: #212529;
    background-color: rgb(255 255 255 / 0%);
    border-color: #f8f9fa00;
    }
    .page-navbar .brand .brand-icon {
    width: 50px;
    height: 50px;
    margin: 8px 4px 8px 16px;
    }
    .page-navbar {
    background-color: #fff;
    padding: 4px;
    border-bottom: 1px solid #dadce0;
    box-shadow: 0 2px 6px 1px rgb(65 69 73 / 15%);
    z-index: 8;
    }
    .sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
    }
    @media (min-width: 768px){
        .navbar-expand-md {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
    }

</style>