<template lang="">
    <div>
           <div class="container" v-if="paramForLoginOrRegister == 'logIn'">
                <div class="row"> 
                            <div data-v-7d23d19a="" class="offset-3 md-card card login-card md-theme-default" name="login">
                                <div data-v-7d23d19a="" class="md-card-header" style="background-color: rgba(0, 0, 0, 0.07); border-bottom: 1px solid rgba(0, 0, 0, 0.1);">
                                    <div data-v-7d23d19a="" class="md-title">
                                            Login
                                    </div>
                                    </div> 
                                    <div data-v-7d23d19a="" class="md-card-content">
                                        <form v-on:submit.prevent="sendData()" data-v-7d23d19a="" method="POST" action="" novalidate="novalidate">
                                            <input data-v-7d23d19a="" type="hidden" name="_token" value=""> 
                                                <div data-v-7d23d19a="" class="row mt-4" style="justify-content: center;">
                                                    <div data-v-7d23d19a="" class="col-md-9">
                                                        <div data-v-7d23d19a="" class="md-field md-theme-default md-required">
                                                            <!-- <label data-v-7d23d19a="" for="md-input-lkc85mkgq">Email</label>  -->
                                                            <input v-model="username" v-on:keyup="saveData" data-v-7d23d19a="" type="email" placeholder="Email*" autocomplete="email" autofocus="autofocus" id="md-input-lkc85mkgq" name="email" required="required" class="md-input"> 
                                                            <span data-v-7d23d19a="" class="md-error">  </span> 
                                                        </div>
                                                    </div>
                                                </div> 
                                                <div data-v-7d23d19a="" class="row" style="justify-content: center;">
                                                    <div data-v-7d23d19a="" class="col-md-9">
                                                        <div data-v-7d23d19a="" class="md-field md-theme-default md-required md-has-password">
                                                            <!-- <label data-v-7d23d19a="" for="md-input-6nhnhr1rq">Password</label>  -->
                                                            <input v-model="password" v-on:keyup="saveData" data-v-7d23d19a="" v-bind:type="typeOfPas1" placeholder="Password*" autocomplete="current-password" id="md-input-6nhnhr1rq" name="password" required="required" class="md-input"> 
                                                            <span data-v-7d23d19a="" class="md-error"> </span>
                                                            <button type="button" class="md-button md-icon-button md-dense md-input-action md-toggle-password md-theme-default" tabindex="-1">
                                                                <div class="md-ripple">
                                                                    <div class="md-button-content">
                                                                        <i class="md-icon md-icon-font md-icon-image md-theme-default">
                                                                            <svg v-on:click="changePas('password')" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                                                                <path d="M0 0h24v24H0zm0 0h24v24H0zm0 0h24v24H0zm0 0h24v24H0z" fill="none"></path> 
                                                                                <path d="M12 7c2.76 0 5 2.24 5 5 0 .65-.13 1.26-.36 1.83l2.92 2.92c1.51-1.26 2.7-2.89 3.43-4.75-1.73-4.39-6-7.5-11-7.5-1.4 0-2.74.25-3.98.7l2.16 2.16C10.74 7.13 11.35 7 12 7zM2 4.27l2.28 2.28.46.46C3.08 8.3 1.78 10.02 1 12c1.73 4.39 6 7.5 11 7.5 1.55 0 3.03-.3 4.38-.84l.42.42L19.73 22 21 20.73 3.27 3 2 4.27zM7.53 9.8l1.55 1.55c-.05.21-.08.43-.08.65 0 1.66 1.34 3 3 3 .22 0 .44-.03.65-.08l1.55 1.55c-.67.33-1.41.53-2.2.53-2.76 0-5-2.24-5-5 0-.79.2-1.53.53-2.2zm4.31-.78l3.15 3.15.02-.16c0-1.66-1.34-3-3-3l-.17.01z"></path>
                                                                            </svg>
                                                                        </i>
                                                                    </div> 
                                                                </div>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div> 
                                                <div data-v-7d23d19a="" class="row" style="justify-content: center;">
                                                    <div data-v-7d23d19a="" class="col-md-9">
                                                        <div data-v-7d23d19a="" class="md-checkbox label-checkbox md-theme-default">
                                                            <div class="form-check">
                                                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                                <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                                                            </div>
                                                            <!-- <div class="md-checkbox-container">
                                                                <div class="md-ripple">
                                                                    <input id="remember" type="checkbox" name="remember" true-value=""> 
                                                                </div>
                                                            </div> 
                                                            <label for="remember" class="md-checkbox-label">
                                                                Remember Me
                                                            </label> -->
                                                        </div>
                                                    </div>
                                                </div> 
                                                <div data-v-7d23d19a="" class="row" style="justify-content: center;">
                                                    <div data-v-7d23d19a="" class="col-md-9">
                                                        <button data-v-7d23d19a="" type="submit" class="md-button md-raised md-primary md-theme-default" style="margin: 6px 0px;">
                                                            <div class="md-ripple">
                                                                <div class="md-button-content">
                                                                    Login
                                                                </div> 
                                                            </div>
                                                        </button>
                                                    </div>
                                                </div>
                                        </form>
                                    </div>
                                </div>
                </div>
           </div>
           <div class="container" v-if="paramForLoginOrRegister == 'register'">
               <div class="row">
                   <div data-v-7d23d19a="" class="offset-3 md-card card login-card md-theme-default" name="login">
                        <div data-v-7d23d19a="" class="md-card-header" style="background-color: rgba(0, 0, 0, 0.07); border-bottom: 1px solid rgba(0, 0, 0, 0.1);">
                            <div data-v-7d23d19a="" class="md-title">
                                    Register
                            </div>
                            </div> 
                            <div data-v-7d23d19a="" class="md-card-content">
                                <form v-on:submit.prevent="sendData()" data-v-7d23d19a="" method="POST" action="" novalidate="novalidate">
                                    <input data-v-7d23d19a="" type="hidden" name="_token" value=""> 
                                        <div data-v-7d23d19a="" class="row mt-4" style="justify-content: center;">
                                            <div data-v-7d23d19a="" class="col-md-9">
                                                <div data-v-7d23d19a="" class="md-field md-theme-default md-required">
                                                    <!-- <label data-v-7d23d19a="" for="md-input-lkc85mkgq">Email</label>  -->
                                                    <input v-model="username" v-on:keyup="saveData" data-v-7d23d19a="" type="text" placeholder="Username*" autocomplete="email" autofocus="autofocus" id="md-input-lkc85mkgq" name="username" required="required" class="md-input"> 
                                                    <span data-v-7d23d19a="" class="md-error">  </span> 
                                                </div>
                                            </div>
                                        </div>
                                        <div data-v-7d23d19a="" class="row" style="justify-content: center;">
                                            <div data-v-7d23d19a="" class="col-md-9">
                                                <div data-v-7d23d19a="" class="md-field md-theme-default md-required">
                                                    <!-- <label data-v-7d23d19a="" for="md-input-lkc85mkgq">Email</label>  -->
                                                    <input v-model="email" v-on:keyup="saveData" data-v-7d23d19a="" type="email" placeholder="Email*" autocomplete="email" autofocus="autofocus" id="md-input-lkc85mkgq" name="email" required="required" class="md-input"> 
                                                    <span data-v-7d23d19a="" class="md-error"></span> 
                                                </div>
                                                <div v-if="errEmail">
                                                    <p class="errEmail">Email không đúng định dạng</p>
                                                </div>
                                            </div>
                                        </div> 
                                        <div data-v-7d23d19a="" class="row" style="justify-content: center;">
                                            <div data-v-7d23d19a="" class="col-md-9">
                                                <div data-v-7d23d19a="" class="md-field md-theme-default md-required md-has-password">
                                                    <!-- <label data-v-7d23d19a="" for="md-input-6nhnhr1rq">Password</label>  -->
                                                    <input v-model="password" v-on:keyup="saveData" data-v-7d23d19a="" v-bind:type="typeOfPas1" placeholder="Password*" autocomplete="current-password" id="md-input-6nhnhr1rq" name="password" required="required" class="md-input"> 
                                                    <span data-v-7d23d19a="" class="md-error"> </span>
                                                    <button type="button" class="md-button md-icon-button md-dense md-input-action md-toggle-password md-theme-default" tabindex="-1">
                                                        <div class="md-ripple">
                                                            <div class="md-button-content">
                                                                <i class="md-icon md-icon-font md-icon-image md-theme-default">
                                                                    <svg v-on:click="changePas('password')" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                                                        <path d="M0 0h24v24H0zm0 0h24v24H0zm0 0h24v24H0zm0 0h24v24H0z" fill="none"></path> 
                                                                        <path d="M12 7c2.76 0 5 2.24 5 5 0 .65-.13 1.26-.36 1.83l2.92 2.92c1.51-1.26 2.7-2.89 3.43-4.75-1.73-4.39-6-7.5-11-7.5-1.4 0-2.74.25-3.98.7l2.16 2.16C10.74 7.13 11.35 7 12 7zM2 4.27l2.28 2.28.46.46C3.08 8.3 1.78 10.02 1 12c1.73 4.39 6 7.5 11 7.5 1.55 0 3.03-.3 4.38-.84l.42.42L19.73 22 21 20.73 3.27 3 2 4.27zM7.53 9.8l1.55 1.55c-.05.21-.08.43-.08.65 0 1.66 1.34 3 3 3 .22 0 .44-.03.65-.08l1.55 1.55c-.67.33-1.41.53-2.2.53-2.76 0-5-2.24-5-5 0-.79.2-1.53.53-2.2zm4.31-.78l3.15 3.15.02-.16c0-1.66-1.34-3-3-3l-.17.01z"></path>
                                                                    </svg>
                                                                </i>
                                                            </div> 
                                                        </div>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-v-7d23d19a="" class="row" style="justify-content: center;">
                                            <div data-v-7d23d19a="" class="col-md-9">
                                                <div data-v-7d23d19a="" class="md-field md-theme-default md-required md-has-password">
                                                    <!-- <label data-v-7d23d19a="" for="md-input-6nhnhr1rq">Password</label>  -->
                                                    <input v-model="confPass" data-v-7d23d19a="" v-bind:type="typeOfPas2" placeholder="Confirm Password*" autocomplete="current-password" id="" name="confPass" required="required" class="md-input"> 
                                                    <span data-v-7d23d19a="" class="md-error"> </span>
                                                    <button type="button" class="md-button md-icon-button md-dense md-input-action md-toggle-password md-theme-default" tabindex="-1">
                                                        <div class="md-ripple">
                                                            <div class="md-button-content">
                                                                <i class="md-icon md-icon-font md-icon-image md-theme-default">
                                                                    <svg v-on:click="changePas('confPassword')" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                                                        <path d="M0 0h24v24H0zm0 0h24v24H0zm0 0h24v24H0zm0 0h24v24H0z" fill="none"></path> 
                                                                        <path d="M12 7c2.76 0 5 2.24 5 5 0 .65-.13 1.26-.36 1.83l2.92 2.92c1.51-1.26 2.7-2.89 3.43-4.75-1.73-4.39-6-7.5-11-7.5-1.4 0-2.74.25-3.98.7l2.16 2.16C10.74 7.13 11.35 7 12 7zM2 4.27l2.28 2.28.46.46C3.08 8.3 1.78 10.02 1 12c1.73 4.39 6 7.5 11 7.5 1.55 0 3.03-.3 4.38-.84l.42.42L19.73 22 21 20.73 3.27 3 2 4.27zM7.53 9.8l1.55 1.55c-.05.21-.08.43-.08.65 0 1.66 1.34 3 3 3 .22 0 .44-.03.65-.08l1.55 1.55c-.67.33-1.41.53-2.2.53-2.76 0-5-2.24-5-5 0-.79.2-1.53.53-2.2zm4.31-.78l3.15 3.15.02-.16c0-1.66-1.34-3-3-3l-.17.01z"></path>
                                                                    </svg>
                                                                </i>
                                                            </div> 
                                                        </div>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-v-7d23d19a="" class="row" style="justify-content: center;">
                                            <div data-v-7d23d19a="" class="col-md-9">
                                                <button data-v-7d23d19a="" type="submit" class="md-button md-raised md-primary md-theme-default" style="margin: 6px 0px;">
                                                    <div class="md-ripple">
                                                        <div class="md-button-content">
                                                            Register
                                                        </div> 
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                </form>
                            </div>
                        </div>
               </div>
           </div>
    </div>
</template>
<script>

export default {
    name: 'loginRegister',
    props: {
        paramForLoginOrRegister: String,
        lg: String
    },
    data () {
        return {
            username: null,
            email: null,
            password: null,
            confPass: null,
            pas1: true,
            pas2: true,
            typeOfPas1: "password",
            typeOfPas2: "password",
            errEmail: false
        }
    },
    methods: {
        changePas(par){
            if(par == 'password'){
                this.pas1 = !this.pas1;
                if(this.pas1 == true){
                    this.typeOfPas1 = "password";
                }else{
                    this.typeOfPas1 = "text";
                }
            }else if(par == 'confPassword'){
                this.pas2 = !this.pas2;
                if(this.pas2 == true){
                    this.typeOfPas2 = "password";
                }else{
                    this.typeOfPas2 = "text";
                }
            }         
        },
        saveData(e){
                if(e.target.name == 'username'){
                this.username = e.target.value;
                }else if(e.target.name == 'email'){
                    this.errEmail = false;                   
                    this.email = e.target.value;
                }else if(e.target.name == 'password'){
                    this.password = e.target.value;
                }else if(e.target.name == 'confPass'){
                    this.confPass = e.target.value;
                };      
        },
        sendData(e){
            let data = {};
                data.username = this.username;
                data.email = this.email;
                data.password = this.password;
            this.checkValidate(data)
            .then(() => {              
                if(this.paramForLoginOrRegister == 'logIn'){         
                    this.$emit('logIn', data);
                }else if(this.paramForLoginOrRegister == 'register'){                    
                    this.$emit('saveUser', data);
                }
                this.resetData();
                // this.$emit('handleShowLoginOrRegister', 'logIn'); 
            })
            .catch((err) => {
                if(err == 'errEmail'){
                    if(this.paramForLoginOrRegister == 'logIn'){         
                        alert('Email không đúng định dạng');
                    }else if(this.paramForLoginOrRegister == 'register'){
                        this.errEmail = true;
                    }                    
                }else if(err == 'No'){
                    alert('Vui lòng điền đầy đủ thông tin');
                }else if(err == 'errConfPass'){
                    alert('Xác nhận password chưa đúng');
                }
            });
                       
        },
        resetData(){
            this.username = null;
            this.email = null;
            this.password = null;
            this.confPass = null;
        },
        checkValidate(data){
            return new Promise((resolve, reject) => {
                if(data.email == '' || data.email == null){
                    console.log('1');
                    return reject('No');
                }else if(data.email != '' && data.email != null){
                    var x = data.email;
                    var atposition = x.indexOf("@");
                    var dotposition = x.lastIndexOf(".");
                    if (atposition < 1 || dotposition < (atposition + 2)
                            || (dotposition + 2) >= x.length) {                 
                        return reject('errEmail');
                    }
                }                
                if(data.password == '' || data.password == null){
                    console.log('3');
                    return reject('No');
                }
                if(this.paramForLoginOrRegister == 'register'){
                    if(data.username == '' || data.username == null){
                        console.log('2');
                        return reject('No');
                    }
                    if(this.confPass == '' || this.confPass == null){
                        console.log('4');
                        return reject('No');
                    }
                    if(data.password != this.confPass){
                        return reject('errConfPass');
                    }
                }              
                
                return resolve();
            });            
        }
    }
}
</script>
<style lang="css" scoped>
    .errEmail{
        text-align: left;
        color: red;
        margin-top: -15px;
    }
    .login-card {
    width: 100%;
    min-width: 300px;
    max-width: 600px;
    }
    .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    }
    .md-card {
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    position: relative;
    z-index: 1;
    border-radius: 2px;
    transition: .3s cubic-bezier(.4,0,.2,1);
    transition-property: color,background-color;
    will-change: color,background-color;
    }
    .md-card-header{
    margin-left: -1px;
    /* margin-right: -13px; */
    }
</style>