<template lang="">
    <div>
        <div data-v-6e0b61f6="" data-v-6e60d949="" class="md-content prj-home-container d-flex flex-column md-scrollbar md-theme-default">
            <form v-on:submit.prevent="createProject()" data-v-0dcd75a5="" data-v-6e0b61f6="" id="form" class="create-project-home">
                <div data-v-0dcd75a5="" class="card">
                    <div data-v-0dcd75a5="" class="card-body">
                        <div data-v-0dcd75a5="" class="form-group">
                            <a data-v-0dcd75a5="" role="button">
                                <div data-v-0dcd75a5="" class="md-field md-field--modify-label md-theme-default md-has-placeholder">
                                    <input v-model="projectName" v-b-toggle.my-collapse data-v-0dcd75a5="" v-on:keyup="saveData" name="projectName" type="text" id="md-input-0gspsf60g" placeholder="Project Name" maxlength="100" class="md-input">
                                    <span data-v-0dcd75a5="" class="md-error"></span>
                                    <span class="md-count">{{count1}} / 100</span>
                                </div>
                            </a>
                        </div>
                        <div data-v-0dcd75a5="" id="collapse_desc" class="collapse show" style=" padding-top: 2px;">
                            <div style="" data-v-0dcd75a5="" class="form-group">
                                <b-collapse  id="my-collapse">
                                    <div data-v-0dcd75a5="" style="width: 98%;" class="md-field md-field--modify-label md-theme-default md-has-placeholder md-has-textarea">
                                        <textarea v-model="projectDescription" data-v-0dcd75a5="" id="md-textarea-566vky5li" v-on:keyup="saveData" name="projectDescription" placeholder="Project Description" maxlength="500" class="md-textarea md-scrollbar" style="resize: none;"></textarea>
                                        <span data-v-0dcd75a5="" class="md-error"></span>
                                        <span class="md-count">{{count2}} / 500</span>
                                    </div>
                                    <div data-v-0dcd75a5="" style="text-align: center;">
                                        <button v-b-toggle.my-collapse data-v-0dcd75a5="" type="button" v-on:click="resetForm()" class="md-button onCancelButtonClick md-theme-default">
                                            <div class="md-ripple">
                                                <div class="md-button-content">
                                                    Cancel
                                                </div>
                                            </div>
                                        </button>
                                        <button v-b-toggle.my-collapse data-v-0dcd75a5=""  type="submit" class="md-button md-raised md-primary md-theme-default">
                                            <div class="md-ripple md-disabled">
                                                <div class="md-button-content">
                                                    Create
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                </b-collapse>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </form>               
        </div>
        <Recent v-if="showRecentProjects == true" v-bind:recentProjects="recentProjects" v-on:deleteCard="deleteCard" />
        <Cards v-bind:projects="projects" v-on:deleteCard="deleteCard" v-on:copyCard="copyCard" />
    </div>
</template>
<script>
import Cards from './Cards'
import Recent from './Recent'
export default {
    name: 'projects',
    components: {
        Cards,
        Recent
    },
    data(){
        return {
            projects: [],
            recentProjects: [],
            showRecentProjects: false,
            code: null,
            projectName: null,
            projectDescription: null,
            count1: 0,
            count2: 0,
        }
    },
    methods: {        
        saveData(e){
            if(e.target.name == 'projectName'){
                this.projectName = e.target.value;
                this.count1 = e.target.value.length;
            }else if(e.target.name == 'projectDescription'){
                this.projectDescription = e.target.value;
                this.count2 = e.target.value.length;
            }
        },
        createProject(pro){
            let data = {};
            data.code = Math.floor(new Date().valueOf() * Math.random());
            if(pro == undefined){
                data.projectName = this.projectName;
                data.projectDescription = this.projectDescription;
            }else if(pro != undefined){
                data.projectName = 'copy of ' + pro.projectName;
                if(data.projectName.length > 19){
                    data.projectName = 'copy of copy of...';
                }
                data.projectDescription = pro.projectDescription;
            }            
            this.projects.push(data);
            this.recentProjectsFunc();
            this.resetForm();
        },
        resetForm(){
            this.projectName = null;
            this.projectDescription = null;
            this.count1 = 0;
            this.count2 = 0;
        },
        deleteCard(code){
            for (let index = 0; index < this.projects.length; index++) {
                const element = this.projects[index];
                if(element.code == code){
                    this.projects.splice(index,1);
                }
            }
            this.recentProjectsFunc();
        },
        copyCard(pro){
            this.createProject(pro);
        },
        recentProjectsFunc(){
            this.recentProjects = [];
            for (let index = 0; index < this.projects.length; index++) {
                const element = this.projects[this.projects.length - index];
                if(element != undefined){
                    this.recentProjects.push(element);
                }
                if(this.recentProjects.length == 3){
                    this.showRecentProjects = true;
                    break;
                }else{
                    this.showRecentProjects = false;
                }
            }
        }
    }
}
</script>
<style lang="css">
    .create-project-home {
        min-width: 400px;
        max-width: 600px;
        width: 100%;
        margin: 10px auto;        
    }
    form {
        display: block;
        margin-top: 0em;
    }
    .md-content.md-theme-default {
        background-color: #fff;
        background-color: var(--md-theme-default-background,#fff);
        color: rgba(0,0,0,.87);
        color: var(--md-theme-default-text-primary-on-background,rgba(0,0,0,.87));
    }
</style>