<template>
  <div id="app">
    <HomeHeader
     v-on:handleShowLoginOrRegister="changeShowLoginOrRegister"
     v-on:logOut="logOut"
     v-bind:logInUser="logInUser"
    /> 
    <LoginRegister
      id="LoginRegister"
      v-if="logInUser == false"
      v-bind:paramForLoginOrRegister="paramForLoginOrRegister"
      v-on:handleShowLoginOrRegister="changeShowLoginOrRegister"
      v-on:saveUser="saveUser"
      v-on:logIn="logIn"
     />
     <Projects v-if="logInUser == true" />      
     <Footer /> 
  </div>
</template>

<script>
import HomeHeader from './components/HomeHeader'
import LoginRegister from './components/LoginRegister'
import Projects from './components/Projects'
import Footer from './components/Footer'

export default {
  name: 'App',
  components: {
    HomeHeader,
    LoginRegister,
    Projects,
    Footer
  },
  data () {
    return {
      show: true,
      paramForLoginOrRegister: "logIn",
      userList: [
        {email: 'thi@gmail.com', password: 123},
        {email: 'thi1@gmail.com', password: 456},
      ],
      logInUser: false,
    }
  },
  created(){
    if(localStorage.getItem('acc') !== null){
              this.logInUser = true;
            }else{
              this.logInUser = false;
            }
  },
  methods: {
    changeShowLoginOrRegister(param){      
      this.paramForLoginOrRegister = param;
    },
    saveUser(data){
      let emails = [];
      for (let index = 0; index < this.userList.length; index++) {
        const element = this.userList[index];
        emails.push(element.email);
      }
      if(emails.indexOf(data.email) == -1){
        this.userList.push(data);
        alert('Đăng ký thành công');
        this.paramForLoginOrRegister = "logIn";
      }else{
        alert('Email đã tồn tại');
      }      
    },
    logIn(data){
      for (let index = 0; index < this.userList.length; index++) {
        const element = this.userList[index];
        if(data.email == element.email){
          if(data.password == element.password){
            localStorage.setItem('acc', data.email);
            if(localStorage.getItem('acc') !== null){
              this.logInUser = true;
            }else{
              this.logInUser = false;
            }
            break;
          }else{
            alert('Mật khẩu chưa đúng');
            break;
          }
        }else if(data.email != element.email && index == (this.userList.length - 1)){
          alert('Tài khoản chưa đúng');
        }
      }
    },
    logOut(param){
      localStorage.removeItem('acc');
      this.logInUser = false;
    }
  }
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  // margin-top: 60px;
  #LoginRegister{
    padding-top: 3%;
  }
}
</style>
